
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.slider {
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;
    background-color: black;
}
.slider-background{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.slider-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
h1{
  color: #FFF;
  font-size: 5rem;

}
h2{
  font-size: 3rem;
  margin-bottom: 100pxs;
}
p{
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.slider-content p{
  color: #FFF;
  font-size: 2rem;
  font-weight: 300;
}

.section{
  padding: 70px 0;
}

.boxed{
  max-width: 1280px;
  margin-inline: auto;
}

.flex{
  display: flex;
}
.dark{
  background:url(../img/Portrait.jpeg);
  background-size: cover;
  background-position-y: 50% ;
  filter: brightness(30%);
  color: #FFF;
}

.w40{
  width: 40%;
}

.w60{
  width: 60%;
}
.text-center{
  text-align: center;
}

.w25{
  width: 25%;

}
.w32{
  width: 32px;
}

.gap20{
  gap: 10px;
}

.skill {
  background-color: gray;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}

.skill img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  

}

.skill h3{
  margin-top: 10px;
  color: black;
}

.realisation{
  height: auto;
  aspect-ratio: 1/1;

}

.realisation a{
  display: block;
  width: 100%;
  height: 100%;
}

.realisation img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-item{
  position: relative;
}

.carousel-caption d-none d-md-block h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);

}

.icon{
  display: block;
  font-size: 40px;

}

.label{
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 1.5rem;

}
.value{
  display: block;
  
}
.contact{
  margin-left: 450px ;
  color: #FFF;
}

